/*--------------------General--------------------*/
:root{
    @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,400;1,500;1,600;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
    font-family: 'EB Garamond', serif;
    font-family: 'Roboto', sans-serif;
 /*---------------------Couleurs--------------------*/

--clr-grisnav: #232629;
--clr-gris1: #bdbdbd;
--clr-gris2: #9e9e9e;
--clr-gris3: #7d7d7d;
--clr-gris4: #696969;
--clr-gristemp: #d3d3d3;
--clr-texte: #000000;
}
/*--------------------Texte--------------------*/

p{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'EB Garamond', serif;
}

img{
    border-style: solid; 
}

body{
    background-color: var(--clr-gristemp) ;
    padding: 0;
    margin: 0;
}

*{
     outline: 1px solid red;
     outline-offset: -1px;
}

/*--------------------Barre de nav-------------------*/
.Menu {
    display: grid;
    position: sticky;
    grid-template-columns: 1fr 2fr; 
    overflow: hidden;
    background-color: var(--clr-grisnav);
    padding: 10px;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 0;
    padding-bottom: 4px;
}

.Menu a:link{ text-decoration: none;}

.Menu a:visited{ text-decoration: none;}

.Menu button:hover{
    background: var(--clr-gris4);
}

.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
}

.element-list{
    list-style: none;
    border-style: solid;
    border-color: var(--clr-gristemp);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

header h1{
    color: var(--clr-gristemp);
}

header h1 span{
    color: var(--clr-gris1);
}
header button{
    background-color: rgb(18, 19, 19);
    border-style: none;
    border-left-style: solid;
    border-right-style: solid;
    border-color: var(--clr-gris4);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

/*--------------------Section Presentation--------------------*/

.presentation{
    outline: 1px solid var(--clr-grisnav);
    outline-offset: -1px;
    padding-top: 10vw;
    padding-bottom: 20vw;
    background-color: var(--clr-gris1);
    display: grid;
    grid-template-columns:3fr 2fr 1fr;
    align-items: center;
    justify-content: center;
}


.presentation img{
    max-width: 55%;
    float: right;
    margin-right: 20px;
}


/*--------------------Section Projets--------------------*/


.projets{
    outline: 1px solid var(--clr-grisnav);
    outline-offset: -1px;
    background-color: var(--clr-gris2);
    padding-top: 5px;
    padding-bottom: 5px;
}

.projets .after-title-content{
    margin: 100px;
    margin-top: 50px;
}

.projets ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.projets ul li{
    list-style: none;
    border-style: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    
}

.projets .text{
    margin: 1vw;
}

.projets ul .Element1{
    grid-row: 1; /*y*/
    grid-column: 1/3; /*x*/
    margin-bottom: 50px;
}
.projets ul .Element2{
    grid-row: 2;
    grid-column: 1/3;
    margin-bottom: 50px;
}

.projets ul .Element3{
    grid-row: 3;
    grid-column: 1/3;
}

/*--------------------Section About me--------------------*/
.AboutMe{
    outline: 1px solid var(--clr-grisnav);
    outline-offset: -1px;   
    background-color: var(--clr-gris3);
    padding-top: 1vw;
}

.AboutMe .Content{
    padding-top: 5vw;
    padding-bottom: 10vw;
}

.AboutMe .middle-up img:hover{
    border-color: var(--clr-gristemp);
}

.AboutMe .Content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.left-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    margin-left: 50px;
}

.left-side img{
    margin-right: 10px;
}
.right-side{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.right-side .middle-up{
    display: flex;
    justify-content: center;
    align-items: center;
}

.AboutMe a{
    color: var(--clr-texte);
}

.AboutMe a:link{text-decoration: none;}

.AboutMe .middle-down a:hover{
    color: var(--clr-grisnav);
    background-color: var(--clr-gristemp);
}

/*4e section*/

.Contacts{
    outline: 1px solid var(--clr-grisnav);
    outline-offset: -1px;
    background-color: var(--clr-gris4);
    padding-top: 5vw;
    padding-bottom:5vw;
}

.Contacts .Content{
    margin-top: 10vw;
    margin-bottom: 10vw;
}

.Contacts ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0;
}

.Contacts img:hover{
    border-color: var(--clr-gristemp);
}

.Contacts img{
    display: flex;
    margin: auto;
}

.Contacts a{ 
    color: var(--clr-texte);
text-decoration: none;
}

.Contacts a:visited{ text-decoration: none;}

.Contacts .bottom a:hover{color: var(--clr-gristemp);}

/*.Contact link{text-decoration: none;}

.Contacts a:hover{text-decoration: none;}

.Contact a:visited{text-decoration: none;}*/


.Contacts a{
    display: flex;
    justify-content: center;
    justify-items: center;
}

/*Fin*/
@media screen and (max-width:600px) {
    img {
      display: none;
    }
  }